body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 3px 9px rgba(0, 0, 0, 0.12);
}

.form-stack > * + * {
  margin-top: 0.5rem;
}

.form-stack > label {
  display: block;
}

.form-stack > input {
  width: 100%;
}
form h1 {
  margin: auto;
}
