/* Modern Reset */

/* Box sizing rules */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.adding-height {
  min-height: 70vh;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  height: 70px;
}

input[type="text"] {
  max-width: 100px;
  font-size: 17px;
  border: none;
}

input[type="submit"] {
  width: 38px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  background-color: white;
}
/* Colours and styles*/

.boolean-blue {
  color: rgb(0, 22, 50);
}

.blue-color {
  color: rgb(0, 108, 250);
}

.white-color {
  color: white;
}
.boolean-green {
  color: rgb(12, 217, 119);
}

.dark-grey-color {
  color: rgb(51, 51, 51);
}

.bold-font {
  font-weight: bolder;
}

.blue-background-color {
  background-color: rgb(0, 22, 50);
}

/* Centering */

.center-text {
  display: grid;
  align-items: center;
}
.centering {
  padding: 0.1rem 17rem 0.1rem 17rem;
}

.align-center {
  display: grid;
  justify-content: center;
}

.padding-bottom {
  padding-bottom: 30px;
}

.padding-top {
  padding-top: 30px;
}

.padding-form {
  padding: 50px 30px 50px 30px;
}
.box {
  border: 1px solid lightslategrey;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-Categories {
  background-color: white;
  border: none;
  padding: 8px 23px 8px 23px;
  border: 1px solid white;
  border-radius: 10px;
}

.button-style {
  padding: 8px 23px 8px 23px;
  border-radius: 10px;
  background-color: rgb(12, 217, 119);
  border: 1px solid rgb(12, 217, 119);
  color: white;
  font-size: 18px;
}

.button-Categories:hover,
.button-style:hover {
  color: white;
  background-color: rgb(0, 108, 250);
  border: 1px solid rgb(0, 108, 250);
  padding: 8px 23px 8px 23px;
  border-radius: 10px;
}

.input-box {
  border: 1px solid rgb(0, 22, 50);
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.flex-end {
  display: grid;
  align-items: flex-end;
}

.gap {
  padding-left: 0.3rem;
}
/* Grids */

.three-c-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 0.2rem;
}

.two-c-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.seven-c-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
